*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body{
    background-image: url(https://d2duuy9yo5pldo.cloudfront.net/dashboard-resources/geewa/ef6dd591-2b91-4a84-8c41-decd99f798e1.png);
    background-size: cover;
    
}
.calc{
    background-color: white;
    border: 5px solid red;
    width: 30vw;
    height: 35vh;
    padding: 2vh;
    outline: 10px solid blue;
    outline-style: outset;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    color: red;
    font-weight: bolder;
    margin-bottom: 5vh;
}
.calcGold{
    background-color: white;
    border: 5px solid red;
    width: 30vw;
    height: 25vh;
    padding: 2vh;
    outline: 10px solid blue;
    outline-style: outset;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    color: red;
    font-weight: bolder;
}
img{
    height: 20vh;
    width: 25vw;
    padding-bottom: 5vh;
}
/* input{
    height: 10vh;
    width: 20vw;
} */
button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, blue 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 5vh;
    font-size: 25px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    
}
button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}
button:active{
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}
#inputs{
    min-height: 30vh;
    min-width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blue;
}
#inputsGold{
    min-height: 20vh;
    min-width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blue;
}
@media screen  and (max-device-width: 700px) {
    body{
        background-size: contain;
        background-repeat: repeat-y;
    }
    #inputs{
        min-height: 25vh;
    }
    .calc{
        height: 30vh;
        font-size: large;
        width: 45vw;
        margin-top: 15vh;
        margin-bottom: 10vh;
    }
    .calcGold{
        height: 25vh;
        font-size: large;
        width: 45vw;
    }
    button{
        width: 45vw;
        height: 8vh;
        padding: 5px;
    }
}